
h1 {
    color: blue
}

body {
    background-image: url('../img/backgroundimage.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav li a:hover {
    background-color: #111;
  }

  .pasos {
      background-color: beige;
      padding: 10px;
      border-radius: 2%;
      width: 20%;
      text-align: center;
      margin:auto;

  }
  .pasos ul {
    list-style-type: none
  }

  .center
  {
    margin: auto;
    display: block
  }